
  <nav>
    <div class="site-title">
      <a href="/"><h1>Market place</h1></a>
      <p>Sell your stuff</p>
    </div>
    <ul>
      <li><a href="/">Market</a></li>
      <li><a href="/create">Add new things to the market</a></li>
    </ul>
  </nav>